:root{
    --color-dark:#363f5f;
    --color-header:#747A9C;
    --color-green: #49aa26;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 93.75;
}

body{
    background: #f0f2f5;
    font-family: "Poppins", sans-serif;
}

.container{
    width: min(90vw, 900px);
    margin: auto;   
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width:0 ;

}

h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--color-dark);
    font: normal;
}

a {
    color: #49aa26;
    text-decoration: none;

}



a:hover{
    color: #3dd715;

}

.button.new{
    display: inline-block;
    margin-bottom:.9rem;



}

header{
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;

}

#logo{
    color: #fff;
    font-weight: 100;
}



#balance{
    margin-top: -6rem;

}

#balance h2{
    color:whitesmoke ;
    margin-top: 0px;
}



.card{
    background:whitesmoke;
    padding: 1.5rem 2rem;
    border-radius: .25rem;
    margin-bottom: 2rem;
    color:var(--color-dark);

}


.card h3{
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
card p{
    font-size: 5rem;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.total{
    background:var(--color-green);
    color: whitesmoke;

}

#data-table{
    display: block;
    width: 100%;
    color: #969cb3;
    border-spacing: 0 0.5rem;
    overflow-x: auto;
}


table tr{
    background: whitesmoke;
    /* opacity: 0.5; */
    color: #969cb3;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: center;
    padding: 1rem 2rem;
}
table td {
    background: whitesmoke;
    padding: 1rem 2rem;
    font-weight: normal;
    text-align: center;
}
table tbody tr:not(:hover){
    /* opacity: 50%; */
    transition: 500ms;
}
table tbody tr:hover{
    opacity: 40%;
    transition: 500ms;
}
table thead tr th:first-child,
table thead tr td:first-child{

    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table thead tr td:last-child{

    border-radius: 0 0.25rem 0.25rem 0;
}

td.description{
    color: var(--color-dark);
}

td.income{
    color: var(--color-green);
}
td.expense{
    color:#ff6347;
}

header h1{

}

footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--color-dark);
    opacity: 0.6;
}

/*Responsive*/
@media (min-width: 800px) {
    html{
        font-size: 87.5%;

    }

    #balance{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
} 